---
import AlgorithmVerifier from "@/components/AlgorithmVerifier.astro";
import type { Case } from "@/components/CaseView.astro";
import { cn } from "@/lib/utils";
import type { ViewType } from "src/content.config";

interface Props {
	setup: string;
	algorithm: Case["algorithms"][number];
	isMain?: boolean;
	slim: boolean;
	viewType: ViewType;
}

const {
	setup,
	algorithm: { rotations, rotationsMnemonic, description },
	isMain,
	slim,
	viewType,
} = Astro.props;

const showMnemonic = (!slim || isMain) && rotationsMnemonic;
const showDescription = (!slim || isMain) && description;
---

<div
  class={cn("flex flex-col justify-center rounded-md border border-divider", {
    "mb-2 border-2": isMain,
  })}
>
  <span
    class={cn("flex items-center justify-center gap-1 p-1 text-center", {
      "text-xl": !isMain,
      "bold text-2xl": isMain,
    })}
  >
    {rotations}
    <AlgorithmVerifier
      algorithm={rotations}
      setup={setup}
      onlyError={slim}
      viewType={viewType}
    />
  </span>
  {
    showMnemonic && (
      <span class="text-center text-lg text-default-600">
        {rotationsMnemonic}
      </span>
    )
  }
  {
    showDescription && (
      <span class="text-center text-medium text-default-500">
        {description}
      </span>
    )
  }
</div>
