---
import CubeView from "@/components/cube/CubeView.astro";
import { Badge } from "@/components/ui/badge";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import type { ViewType } from "@/content.config";
import { cn } from "@/lib/utils";

export interface Props {
  name: string;
  size: number;
  href: string;
  previewAlgorithm: string;
  viewType: ViewType;
  isActive?: boolean;
}

const { name, size, href, previewAlgorithm, viewType, isActive } = Astro.props;
---

<a href={href} class={cn([isActive && "ring-2 rounded-xl ring-cube-green"])}>
  <Card>
    <CardHeader>
      <CardTitle className="text-center">{name}</CardTitle>
    </CardHeader>
    <CardContent className="flex items-center justify-center">
      <div class="size-20">
        <CubeView algorithm={previewAlgorithm} type={viewType} />
      </div>
    </CardContent>
    <CardFooter className="flex justify-center">
      <Badge>{size}</Badge>
    </CardFooter>
  </Card>
</a>
