---
import CubeView from "@/components/cube/CubeView.astro";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import type { ViewType } from "@/content.config";

export interface Props {
  name: string;
  size: number;
  href: string;
  previewAlgorithm: string;
  viewType: ViewType;
}

const { name, size, href, previewAlgorithm, viewType } = Astro.props;
---

<a href={href}>
  <Card className="aspect-square">
    <CardHeader>
      <CardTitle>{name}</CardTitle>
    </CardHeader>
    <CardContent>
      <div class="size-20">
        <CubeView algorithm={previewAlgorithm} type={viewType} />
      </div>
    </CardContent>
    <CardFooter>{size}</CardFooter>
  </Card>
</a>
